body{
background:#0f172a;
color:white;
font-family:Arial, Helvetica, sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.box{
background:#1e293b;
padding:30px;
border-radius:14px;
width:320px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

h1{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:15px;
margin-bottom:5px;
}

input, select{
width:100%;
padding:8px;
border-radius:8px;
border:none;
margin-bottom:10px;
font-size:14px;
}

button{
width:100%;
padding:10px;
background:#22c55e;
border:none;
border-radius:10px;
font-size:16px;
color:white;
cursor:pointer;
}

button:hover

#result{
margin-top:20px;
white-space:pre-line;
text-align:center;
font-size:18px;
}
