body{
background:#000000;
font-family:Arial, Helvetica, sans-serif;
display:flex;
justify-content:center;
padding:30px;
gap:20px;
}

.table{
display:grid;
grid-template-columns:300px 120px 120px 120px 240px;
gap:2px;
background:#000;
padding:2px;
}

.rightTable{
display:grid;
grid-template-columns:150px 150px;
gap:2px;
background:#000;
padding:2px;
}

.cell{
background:#d1d5db;
height:46px;
display:flex;
align-items:center;
justify-content:center;
color:#111;
}

.head{
background:#aeb7c2;
font-weight:bold;
}

.result{
background:#eef2f7;
font-weight:bold;
}

input,select{
width:100%;
height:100%;
border:none;
text-align:center;
}

.or{
background:#cbd5e1;
font-weight:bold;
}

.clearBtn{
position:fixed;
right:30px;
bottom:30px;
height:42px;
padding:0 18px;
font-size:15px;
cursor:pointer;
background:#ef4444;
color:white;
border:none;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

.clearBtn:hover
