.topNav{
display:flex;
gap:20px;
padding:12px 20px;
background:#111;
border-bottom:1px solid #333;
width:100%;
justify-content:center;
}

.topNav a{
color:#aaa;
text-decoration:none;
font-size:14px;
transition:.2s ease;
}

.topNav a:hover{
color:white;
}

.topNav a.active{
color:white;
font-weight:bold;
}