:root{

--bg-main:#0a0a0a;
--bg-panel:#111;
--bg-map:#0c0c0c;

--accent-purple:#bb6cff;
--accent-blue:#45e3e3;
--accent-red:#ff4b4b;
--accent-yellow:#ffd84b;

--radius-main:14px;
--radius-box:8px;

--font-main:Arial, sans-serif;

}
