/* ===== PANELS ===== */

.panel{
background:#141414;
border-radius:12px;
padding:16px;
margin-bottom:20px;
}

.enemyPanel{
max-width:400px;
margin:auto;
}

/* ===== GRID ===== */

.enemyGrid{
display:grid;
grid-template-columns:1fr;
gap:8px;
margin-top:10px;
}

.topRow{
display:flex;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

/* ===== INPUTS ===== */

label{
font-size:14px;
color:#bbb;
}

input{
background:#1b1b1b;
border:1px solid #333;
border-radius:8px;
padding:6px;
color:white;
width:100%;
}

/* ===== TOTAL BOX ===== */

.totalBox{
margin-top:15px;
background:#1b1b1b;
border-radius:10px;
padding:10px;
text-align:center;
}

.totalLabel{
font-size:13px;
color:#aaa;
}

.totalValue{
font-size:24px;
font-weight:bold;
}

.hiddenBox{
display:none;
}

/* ===== BUTTON ===== */

button{
background:#ff5c5c;
border:none;
padding:14px 20px;
border-radius:10px;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:scale(1.08);
}
