.map-wrapper{
position:relative;
width:90%;
max-width:1400px;
margin:40px auto;
border-radius:var(--radius-main);
background:var(--bg-map);
overflow:hidden;
}

.map-wrapper::after{
content:"";
position:absolute;
inset:-1px;
border-radius:16px;
border:3px solid var(--accent-purple);
pointer-events:none;
z-index:10;
}

.map-image{
width:100%;
display:block;
}

.map-box{
position:absolute;
transform:translate(-50%,-50%);
width:10%;
height:5%;
border-radius:var(--radius-box);
background:rgba(0,0,0,0.35);
backdrop-filter:blur(6px);
border:2px solid var(--box-color,#fff);
display:flex;
align-items:center;
justify-content:center;
}

.map-box input{
width:92%;
background:transparent;
border:none;
outline:none;
color:white;
text-align:center;
white-space:nowrap;
overflow:hidden;
}

/* COLORS */

.map-box.purple{ --box-color:var(--accent-purple); }
.map-box.blue{ --box-color:var(--accent-blue); }
.map-box.red{ --box-color:var(--accent-red); }
.map-box.yellow{ --box-color:var(--accent-yellow); }

#clearBtn{
position:fixed;
right:40px;
bottom:40px;
}
