body{
background:#0a0a0a;
margin:0;
font-family:Arial;
}

.topnav{
text-align:center;
padding:14px;
background:#111;
}

.topnav a{
color:#c77dff;
margin:0 12px;
text-decoration:none;
}

.topnav a.active{
color:white;
font-weight:bold;
}

.map-wrapper{
position:relative;
width:90%;
max-width:1500px;
margin:40px auto;
}

.map-image{
width:100%;
display:block;
border-radius:14px;
}

/* ===== BOXES ===== */

.map-box{
position:absolute;
transform:translate(-50%,-50%);
width:10%;
height:5%;
border-radius:8px;
background:rgba(0,0,0,0.35);
backdrop-filter:blur(6px);
outline:2px solid;
display:flex;
align-items:center;
justify-content:center;
}

.map-box input{
width:90%;
background:transparent;
border:none;
outline:none;
color:white;
text-align:center;
}

/* COLORS */

.purple{ outline-color:#bb6cff; }
.blue{ outline-color:#45e3e3; }
.red{ outline-color:#ff4b4b; }
.yellow{ outline-color:#ffd84b; }

/* CLEAR BUTTON */

#clearBtn{
position:fixed;
right:40px;
bottom:40px;
background:#ff5c5c;
border:none;
padding:14px 20px;
border-radius:10px;
color:white;
cursor:pointer;
transition:0.2s;
}

#clearBtn:hover{
transform:scale(1.08);
}
